// Content (cnt)
.cnt{
	@include grid-row;
	@include grid-row-size(95%);
}

//** Content Breaking news (cnt__b-news)
	.cnt__b-news{
		@include grid-row;
		background: linear-gradient(135deg, rgba(0,0,0,0) 0.125em, $light-gray 0, $light-gray calc(50% - .125em), rgba(0,0,0,0) 0, rgba(0,0,0,0) calc(50% + .125em), $light-gray 0, $light-gray calc(100% - .125em), rgba(0,0,0,0) 0);
		background-size: 0.53033em 0.53033em;
		.b-news{
			@include grid-col;
			@include breakpoint(small){
				@include grid-col-size(12);
				padding: .6rem;
				text-align: center;
			}
			@include breakpoint(medium){
				@include grid-col-size(4);
				padding: .8rem;				
				text-align: left;
			}			
			@include breakpoint(large){
				@include grid-col-size(4);
				padding: .8rem;				
				text-align: left;
			}
			.b-news__link{
				color: $notizie-pri-text-color;
				&:hover {
					color: $notizie-pri-color-dark;
				}
			}
				.b-news__header{
					font-family: 'Oswald', sans-serif;
					font-weight: 400;
					text-transform: uppercase;
					@include breakpoint(small){
						margin-bottom: 0;
						font-size: .9rem;
					}
					@include breakpoint(medium){
						font-size: 1rem;
					}
					@include breakpoint(large){
						font-size: 1.1rem;
					}
				}
				.b-news__categories{
					margin-left: 0;
					margin-bottom: 0;
					.b-news__category{
						list-style: none;
						display: inline;
						font-size: .9rem;
						font-weight: 700;
						.b-news__category-link{
							color: $black;
							&:hover{
								color: $notizie-pri-color-dark;
							}
						}
					}
				}
		}
	}

//** Slider (orbit)
	.slide__figure{
		margin-bottom: .8rem;
		position: relative;
		.slide__caption{
			position: absolute;
			padding: 0 1rem;
			bottom: 0;
		}
		.slide__title{
			color: $white;
			line-height: 1.2;
			font-family: 'Oswald', sans-serif;
			font-weight: 900;
			text-transform: uppercase;
			@include breakpoint(small){
				//@include border;
				font-size: 1.6rem;
			}
			@include breakpoint(medium){
				font-size: 2.5rem;
			}
			@include breakpoint(large){
				font-size: 3.3rem;
			}			
		}
	}

	.slide__excerpt{
		background-color: $light-gray;
		padding: .8rem 1rem;
	}
		.slide__category{
		margin-left: 0;
			font-size: .9rem;
			font-weight: 700;
			color: $black;
			&:hover{
				color: $notizie-pri-color-dark;
			}
		}
		.slide__meta{
			font-size: .9rem;			
			font-family: 'Merriweather', serif;
			font-weight: 300;
			font-style: italic;
				.slide__author{
					font-weight: 700;
						color: $black;
						&:hover{
							color: $notizie-pri-color-dark;
						}
				}
		}
		
		.slide__excerpt-content{
			font-size: .9rem;			
			font-family: 'Merriweather', serif;
			font-weight: 300;
			margin-bottom: 0;
		}



//** Content News (cnt__news)
	.cnt__news{
		margin-top: .8rem;
		@include grid-row;
	}

//** news Home (news__home)		
		.news__home{
			@include grid-col;
			@include breakpoint(small){
				@include grid-col-size(12);
			}
			@include breakpoint(medium){
				@include grid-col-size(6);
			}
			@include breakpoint(large){
				@include grid-col-size(4);
			}
		}
			.news__home_left{
				@include breakpoint(small){
					padding-left: 0;
					padding-right: 0;
				}
				@include breakpoint(medium){
					padding-left: 0;
					padding-right: 1.2rem;
				}
				@include breakpoint(large){
					padding-left: 0;
					padding-right: 1.2rem;
				}
			}
			.news__home_right{
				@include breakpoint(small){
					padding-left: 0;
					padding-right: 0;
				}
				@include breakpoint(medium){
					padding-left: 0;
					padding-right: 0;
				}
				@include breakpoint(large){
					padding-left: 0;
					padding-right: 1.2rem;
				}
			}
		
		.post-home{
			.post-home__title{}
			.post-home__categories{
				margin-left: 0;
				.post-home__category{
					list-style: none;
					display: inline;
				}
			}
			.post-home__meta{}
			.post-home__exerpt{
				text-align:justify;
			}
		}


		.news__sidebar{
			background-color: $light-gray;
			padding: 0;
			@include grid-col;
			@include breakpoint(small){
				@include grid-col-size(12);
				/*padding-left: 0;
				padding-right: 1.2rem;*/
				padding: 1.2rem;
			}
			@include breakpoint(medium){
				@include grid-col-size(12);
				/*padding-left: 0;
				padding-right: 1.2rem;*/
			}
			@include breakpoint(large){
				@include grid-col-size(4);
				/*padding-left: 0;*/
			}
		}
			