// Content (cnt)
.cnt{
	@include grid-row;
	@include grid-row-size(95%);
}

//** Content Breaking news (cnt__b-news)
	.cnt__b-news{
		@include grid-row;
		background: linear-gradient(135deg, rgba(0,0,0,0) 0.125em, $light-gray 0, $light-gray calc(50% - .125em), rgba(0,0,0,0) 0, rgba(0,0,0,0) calc(50% + .125em), $light-gray 0, $light-gray calc(100% - .125em), rgba(0,0,0,0) 0);
		background-size: 0.53033em 0.53033em;
		.b-news{
			@include grid-col;
			@include breakpoint(small){
				@include grid-col-size(12);
				/*@include flex;
				@include flex-align(center);*/
			}
			@include breakpoint(medium){
				@include grid-col-size(4);
			}			
			@include breakpoint(large){
				@include grid-col-size(4);
			}
		}
	}

//** Slider (orbit)
	.slide__figure{
		margin-bottom: .8rem;
		position: relative;
		.slide__caption{
			position: absolute;
			padding: 0 1rem;
			bottom: 0;
		}
		.slide__title{
			color: $white;
			line-height: 1;
		}
	}

	.slide__excerpt{
		background-color: $light-gray;
		padding: .8rem 1rem;
	}
		.slide__excerpt-content{
			margin-bottom: 0;
		}



//** Content News (cnt__news)
	.cnt__news{
		margin-top: .8rem;
		@include grid-row;
	}
		.news__home{;
			@include grid-col;
			@include breakpoint(small){
				@include grid-col-size(12);
				padding-left: 0;
				padding-right: 1.2rem;
			}
			@include breakpoint(medium){
				@include grid-col-size(12);
				padding-left: 0;
				padding-right: 1.2rem;
			}
			@include breakpoint(large){
				@include grid-col-size(4);
				padding-left: 0;
			}
		}
		.news__sidebar{
			@extend .news__home;
			background-color: $light-gray;
			padding: 0;
		}