@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Oswald:300,400,700|Playfair+Display:400,400i,700,700i,900,900i');
/*
	font-family: 'Oswald', sans-serif;
	font-family: 'Playfair Display', serif;
	font-family: 'Merriweather', serif;
*/