// General Styles
// Vars

// Mixins
@mixin border{
	border: 1px solid red;
}

//General Styles

//wrapper
.wrapp{	
	@include grid-column-row();
	background-color: $white;
}

//dividers
.divider_l_0{
	margin: .35rem auto;
	border-bottom: 2px solid $medium-gray;
}

.divider_l_1{
	border-bottom: 3px solid $black;
}

//menus
.menu_type_social{
	@include flex-align(right);
	@include breakpoint(small){
		li{
			a{
				color: $black;
				padding: 0.2rem 0.28rem;
			}
		}	
	}
	@include breakpoint(medium){
		li{
			a{
				color: $black;
				padding: 0.2rem 0.4rem;
			}
		}	
	}	
}

.menu_type_icon{
	//@include border;
	@include flex-align(center);
	@include flex-align-self(middle);
	li{
		a{
			color: $notizie-div-color;
			padding: 0.2rem 0.28rem;
			&:hover{
				color: $black;
			}			
		}
	}		
}

//logos
.logo_s_l{
	@include flex;
	@include flex-align(center);
	.logo__link{
		width: 550px;
		.logo__img{
			padding: 0.2rem;
		}		
	}
}

//Hide for small only (hfso)
.hfso{
	@include hide-for-only(small);
}