// General Styles
// Vars

// Mixins
@mixin border{
	border: 1px solid red;
}

//General Styles

//wrapper
.wrapp{	
	@include grid-column-row();
	background-color: $white;
}

//dividers
.divider_l_0{
	margin: .35rem auto;
	border-bottom: 2px solid $medium-gray;
}

.divider_l_1{}

//menus
.menu_type_social{
	@include flex-align(right);
	li{
		a{
			color: $black;
			padding: $menu-item-padding-min;
		}
	}
}

//logos
.logo_s_l{
	padding: 1.5rem;
	@include grid-row;
	.logo__link{
		@include flex;
		@include flex-align(center);
		.logo__img{
			height: 120px;
		}
	}	
}