// General Styles
// Vars

// Mixins
@mixin border{
	border: 1px solid red;
}

//General Styles
.wrapp{	
	@include grid-column-row();
	background-color: $white;
}

.divider_l_0{
	margin: .35rem auto;
	border-bottom: 2px solid $medium-gray;
}

.divider_l_1{}