<!-- Breaking news -->
<section class="cnt__b-news">
	
	<article class="b-news">
		<a href="#" class="b-news__link">
			<h2 class="b-news__header">Lorem ipsum dolor sit amet</h2>
		</a>
		<div class="b-news__categories">
			<a class="b-news__category" href="#">Business</a> - 
			<a class="b-news__category" href="#">Culture</a> -
			<a class="b-news__category" href="#">Politic</a>			
		</div>
		<a href="#">
			<span class="secondary badge"><i class="fa fa-arrow-right fa-lg"></i></span>
		</a>
	</article>

	<article class="b-news">
		<a href="#" class="b-news__link">
			<h2 class="b-news__header">Lorem ipsum dolor sit amet</h2>
		</a>
		<div class="b-news__categories">
			<a class="b-news__category" href="#">Business</a> - 
			<a class="b-news__category" href="#">Culture</a> -
			<a class="b-news__category" href="#">Politic</a>			
		</div>
	</article>

	<article class="b-news">
		<a href="#" class="b-news__link">
			<h2 class="b-news__header">Lorem ipsum dolor sit amet</h2>
		</a>
		<div class="b-news__categories">
			<a class="b-news__category" href="#">Business</a> - 
			<a class="b-news__category" href="#">Culture</a> -
			<a class="b-news__category" href="#">Politic</a>			
		</div>
	</article>
</section>