<!-- Content (cnt) -->
<section class="cnt">
	
	<!-- Breaking news -->
	<section class="cnt__b-news">
		<article class="b-news">
			<a href="#" class="b-news__link">
				<h5 class="b-news__header">Breaking News</h5>
				<p class="b-news__excerpt hfso">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
			</a>
		</article>

		<article class="b-news">
			<a href="#" class="b-news__link">
				<h5 class="b-news__header">Breaking News</h5>
				<p class="b-news__excerpt hfso">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
			</a>
		</article>

		<article class="b-news">
			<a href="#" class="b-news__link">
				<h5 class="b-news__header">Breaking News</h5>
				<p class="b-news__excerpt hfso">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
			</a>
		</article>
	</section>

	<hr class="divider_l_1">
	
	{{> notizie-slider}}

</section>