<!-- Content News (cnt__news)-->
<section class="cnt__news">	
	<div class="news__home news__home_left">
		<article class="post-home">
			<figure class="post-home__figure">
				<img class="post-home__img" src="{{root}}assets/img/notizie-post-taxi.jpg" alt="">
			</figure>
			<h2 class="post-home__title">Lorem Ipsum Dolor</h2>
			<ul class="post-home__categories">
				<li class="post-home__category"><a href="#">Business</a></li>
				<li class="post-home__category"><a href="#">World</a></li>
			</ul>
			<div class="post-home__meta">
				By: <a href="#">Monsieour Le Chifié</a> 
				Date: Jan 25 2017
			</div>			
			<p class="post-home__exerpt">Nullam eget placerat tellus. Pellentesque a libero nec elit fringilla semper. In sit amet velit sed felis lacinia condimentum dignissim a risus. Aliquam molestie auctor odio, ut maximus nibh efficitur.</p>
		</article>
	</div>
	<div class="news__home news__home_right">
		<article class="post-home">
			<h2 class="post-home__title">Lorem Ipsum Dolor</h2>
			<ul class="post-home__categories">
				<li class="post-home__category"><a href="#">Business</a></li>
				<li class="post-home__category"><a href="#">World</a></li>
			</ul>
			<div class="post-home__meta">
				By: <a href="#">Monsieour Le Chifié</a> 
				Date: Jan 25 2017
			</div>			
			<p class="post-home__exerpt">Nullam eget placerat tellus. Pellentesque a libero nec elit fringilla semper. In sit amet velit sed felis lacinia condimentum dignissim a risus. Aliquam molestie auctor odio, ut maximus nibh efficitur.</p>
		</article>
		<article class="post-home">
			<h2 class="post-home__title">Lorem Ipsum Dolor</h2>
			<ul class="post-home__categories">
				<li class="post-home__category"><a href="#">Business</a></li>
				<li class="post-home__category"><a href="#">World</a></li>
			</ul>
			<div class="post-home__meta">
				By: <a href="#">Monsieour Le Chifié</a> 
				Date: Jan 25 2017
			</div>
			<figure class="post-home__figure">
				<img class="post-home__img" src="{{root}}assets/img/notizie-post-taxi.jpg" alt="">
			</figure>
		</article>		
	</div>
	<aside class="news__sidebar">
		<p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam cum rerum sed nostrum corporis officia ullam aspernatur atque voluptatibus sit, laborum, ad saepe architecto deserunt eius ex nam, iusto tempora.</p>		<p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam cum rerum sed nostrum corporis officia ullam aspernatur atque voluptatibus sit, laborum, ad saepe architecto deserunt eius ex nam, iusto tempora.</p>		<p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam cum rerum sed nostrum corporis officia ullam aspernatur atque voluptatibus sit, laborum, ad saepe architecto deserunt eius ex nam, iusto tempora. laborum, ad saepe architecto deserunt eius ex nam, iusto tempora. laborum, ad saepe architecto deserunt eius ex nam, iusto tempora.</p>
	</aside>
</section>