<!-- Header (hdr) -->
<header class="hdr">

	<!-- Header Top (hdr__top) -->
	<div class="hdr__top">
		<div class="hdr__date">
			<div class="date">
				<time class="date__time">Wednesday, January 11, 2017</time>
			</div>
		</div>
		
		<div class="hdr__eyelash">
			
		</div>
		
	</div>

	<hr class="divider_l_0">

	<!-- Header Social (hdr__social) -->
	<div class="hdr__social">
		<div class="hdr__weather">
			<div class="weather">
				<i class="fa fa-cloud" aria-hidden="true"></i> 16°C Guadalupe Zac				
			</div>
		</div>
		<div class="hdr__social-icons">
			<ul class="menu menu_type_social">
				<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
			</ul>			
		</div>
	</div>

	<!-- Header Brand (hdr__brand) -->
	<div class="hdr__brand">
		<h1 class="logo_s_l">
			<a class="logo__link" href="#">
				<img class="logo__img" src="{{root}}assets/img/notizie-post-logo-1.png" alt="">
			</a>
		</h1>
	</div>

</header>