<!-- Slider -->
<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <ul class="orbit-container">
    <button class="orbit-previous">
      <span class="show-for-sr">Previous Slide</span>
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </button>
    <button class="orbit-next">
      <span class="show-for-sr">Next Slide</span>
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </button>
    
    <li class="orbit-slide">
      <a href="#">
        <img class="orbit-image" src="{{root}}assets/img/notizie-post-taxi.jpg" alt="Space">
      </a>
      <figcaption class="orbit-caption">
          <a href="#"><h1>Lets Rocket!. Space, the final frontier.</h1></a>
          <a href="#"><span>Business</span></a>
      </figcaption>
    </li>    
    <li class="orbit-slide">
      <a href="#">
        <img class="orbit-image" src="{{root}}assets/img/notizie-post-taxi.jpg" alt="Space">
      </a>
      <figcaption class="orbit-caption">
          <a href="#"><h1>Lets Rocket!. Space, the final frontier.</h1></a>
          <a href="#"><span>Business</span></a>
      </figcaption>
    </li>
    <hr>   
  </ul>
</div>